input {
  beats {
    port => "{{logstash_syslog_port}}"
  }
}

filter {
    grok {
        match => { "message" => "%{COMBINEDAPACHELOG}"}
    }
}

output {
  elasticsearch {
    hosts => "localhost:{{es_local_port}}"
    manage_template => false
    index => "filebeat-%{+YYYY.MM.dd}"
    document_type => "log"
  }
}
