input {
  beats {
    port => "{{logstash_syslog_port}}"
  }
}

output {
  elasticsearch {
    hosts => "localhost:{{es_local_port}}"
    manage_template => false
    index => "filebeat-%{+YYYY.MM.dd}"
    document_type => "log"
  }
}
